# Environments
.venv/
env/
venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Operating System
.DS_Store
Thumbs.db

# Jupyter Checkpoints
.ipynb_checkpoints/

# Data cache
data/cache/*.csv
